:root{
    --Mørkt_sand: #F7D17F;
    --Lyst_sand: #F9DB9C;
    --Mørkt_blå: #549997;
    --Mørk_blå_mellemgrund: #62B0AE;
    --Lys_blå_mellemgrund: #74CBCF;
    --Blå_baggrund: #9EE9EE;
}

@font-face {
    font-family: superFunky;
    src: url(../fonts/super_funky-webfont.woff2);
}

main,
header,
footer {
  margin-bottom: 1rem;
  max-width: 100%;
  margin: auto;
}

nav{
    background-color: var(--Mørk_blå_mellemgrund);
    padding: 3%;
    text-align: center;
}

nav a{
    text-decoration: none;
    padding: 0% 5% 0%;
    color: var(--Lyst_sand);
    font-family: superFunky;
    font-size: 150%;
}

footer {
  background-color: var(--Mørk_blå_mellemgrund);
  padding: 2%;
  text-align: center;
  font-size: 100%;
  color: var(--Lyst_sand);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
