:root{
    --Mørkt_sand: #F7D17F;
    --Lyst_sand: #F9DB9C;
    --Mørkt_blå: #549997;
    --Mørk_blå_mellemgrund: #62B0AE;
    --Lys_blå_mellemgrund: #74CBCF;
    --Blå_baggrund: #9EE9EE;
    --koral: #FF5F4B;
}

@font-face {
    font-family: superFunky;
    src: url(../fonts/super_funky-webfont.woff2);
}


#screen{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

/* ink screen */
#ink_screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/ink.svg");
    background-size: cover;
}

/* Game-over skærm */
#game_over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/tabt.svg");
    background-size: cover;
}

#coralina3_container{
    position: absolute;
    top: 27%;
    left: 0.5%;
    width: 28%;
    aspect-ratio: 530/770;
}

#coralina3_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/coralina_tabt.svg");
    background-size: 100%;
}

#knap_spil_igen1{
    position: absolute;
    top: 51%;
    left: 40%;
    width: 20%;
    aspect-ratio: 310/90;
    background-image: url("../images/knap_spil_igen.svg");
    background-size: 100%;
}

#knap_spil_igen1:hover{
    top: 51%;
    left: 39%;
    width: 22%;
    filter: saturate(1.5);
  }

/* level complete skærm */
#level_complete{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/complete.svg");
    background-size: cover;
}

#coralina4_container{
    position: absolute;
    top: 29%;
    left: 0.5%;
    width: 35%;
    aspect-ratio: 670/770;
}

#coralina4_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/coralina_krone.svg");
    background-size: 100%;
}

#knap_giv_kronen{
    position: absolute;
    top: 51%;
    left: 40%;
    width: 20%;
    aspect-ratio: 310/90;
    background-image: url("../images/knap_giv_kronen.svg");
    background-size: 100%;
}

#knap_giv_kronen:hover{
    position: absolute;
    top: 51%;
    left: 39%;
    width: 22%;
    filter: saturate(1.5);
}

#kronen_givet{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/byg.svg");
    background-size: cover;
}

#coralina5_container{
    position: absolute;
    top: 26%;
    left: 5%;
    width: 28%;
    aspect-ratio: 530/770;
}

#coralina5_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/coralina.svg");
    background-size: 100%;
}

#pearlina2_container{
    position: absolute;
    top: 20%;
    left: 65%;
    width: 28%;
    aspect-ratio: 520/730;
}

#pearlina2_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/pealina_med.svg");
    background-size: 100%;
}

#knap_spil_igen2{
    position: absolute;
    top: 52%;
    left: 40%;
    width: 20%;
    aspect-ratio: 310/90;
    background-image: url("../images/knap_spil_igen.svg");
    background-size: 100%;
}

#knap_spil_igen2:hover{
    position: absolute;
    top: 52%;
    left: 39%;
    width: 22%;
    filter: saturate(1.5);
}


/* startskærmen */
#startside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/start.svg");
    background-size: cover;
}

#coralina1_container{
    position: absolute;
    top: 43%;
    left: 3%;
    width: 22%;
    aspect-ratio: 530/760;
}

#coralina1_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/coralina.svg");
    background-size: 100%;
}

#pearlina1_container{
    position: absolute;
    top: 38%;
    left: 75%;
    width: 20%;
    aspect-ratio: 520/700;
}

#pearlina1_uden_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/pearlina_uden.svg");
    background-size: 100%;
}

#titel {
    position: absolute;
    top: 16%;
    left: 20%;  
    width: 60%;
    aspect-ratio: 1310/240;
    background-image: url("../images/titel.svg");
    background-size: 100%;
}

#knap_start{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    aspect-ratio: 400/100;
    background-image: url("../images/knap_start.svg");
    background-size: 100%;
    
}

#knap_start:hover{
    top: 40%;
    left: 39%;
    width: 22%;
    filter: saturate(1.5);
  }

#knap_regler{
    position: absolute;
    top: 52%;
    left: 40%;
    width: 20%;
    aspect-ratio: 400/100;
    background-image: url("../images/knap_regler.svg");
    background-size: 100%;
}

#knap_regler:hover{
    top: 52%;
    left: 39%;
    width: 22%;
    filter: saturate(1.5);
}

#regler{
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1920/1080;
    background-image: url("../images/regler.svg");
    background-size: 100%;
}

#knap_start2{
    position: absolute;
    top: 75%;
    left: 40%;
    width: 20%;
    aspect-ratio: 400/100;
    background-image: url("../images/knap_start.svg");
    background-size: 100%;
}

#knap_start2:hover{
    top: 75%;
    left: 39%;
    width: 22%;
    filter: saturate(1.5);
  } */



/* spilleskærmen */

#spillet{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#game_background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../images/baggrund.svg);
    background-size: cover;
}

#coralina2_container{
    position: absolute;
    top: 52%;
    left: 1%;
    width: 18%;
    aspect-ratio: 530/760;
}

#coralina2_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/coralina.svg");
    background-size: 100%;
}

/*timer*/
#timer_container {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 45%;
    aspect-ratio: 810/90;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(208, 204, 204, 0.383);

}
  
  #timer_sprite {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: left;
    border-radius: 8px;
  }


/* liv */
#liv_container{
    position: absolute;
    left: 55%;
    top: 3%;
}

#liv1,
#liv2,
#liv3 {
  width: 15%;
}

.gray {
  filter: grayscale();
}


/* point */
#scoreboard {
    position: absolute;
    top: 4%;
    left: 86%;
    width: 11%;
    height: 10%;
    background-image: url(../images/point.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

#point{
    color:var(--Mørkt_blå);
    -webkit-text-stroke: 0.5px black;
    font-family: superFunky;
    font-size: 4.5cqw;
    padding: 0;
    margin: 0;
}

/* elementer*/

#game_elements {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }

#pearl_container{
    position: absolute;
    width: 6%;
    aspect-ratio: 160/160;
}

#pearl_sprite{
    width: 100%;
    height: 100%;
    background-image: url("../images/perle.svg");
    background-size: 100%;
} 

#squid_container{
    position: absolute;
    width: 9%;
    aspect-ratio: 250/250;
}

#squid_sprite{
    width: 100%;
    height: 100%; 
    background-image: url("../images/squid.svg");
    background-size: 100%;
}

#gople_container{
    position: absolute;
    width: 9%;
    aspect-ratio: 250/250;
}

#gople_sprite{
    width: 100%;
    height: 100%; 
    background-image: url("../images/gople.svg");
    background-size: 100%;
}



/* animationer */
.hide {
display: none;
}


.hopper{
animation-name: hop;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes hop{
0%{
    translate: 0% 0%;
}

100%{
    translate: 0% -2%;
}
}


.falling {
animation-name: fall;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes fall {
0% {
    translate: 0% -500%;
}
100% {
    translate: 0% 1000%;
}
}

.frys {
animation-play-state: paused;
}

.forsvind {
animation: forsvind 1s 1 both;
}

@keyframes forsvind {
from {
    opacity: 1;
    scale: 1;
}
to {
    opacity: 0;
    scale: 3;
}
}

.shrink {
animation-name: shrink_kf;
animation-duration: 30s;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-fill-mode: forwards;
}

@keyframes shrink_kf {
0% {
scale: 100% 100%;
background-color:var(--Mørkt_blå);
}
50% {
background-color: var(--Lyst_sand);
}
100% {
scale: 0% 100%;
background-color: var(--koral);
}
}

.pos1{
    top: 0%;
    left: 30%;
}

.pos2{
    top: 0%;
    left: 40%;
}

.pos3{
    top: 0%;
    left: 50%;
}

.pos4{
    top: 0%;
    left: 60%;
}

.pos5{
    top: 0%;
    left: 70%;
}

.pos6{
    top: 0%;
    left: 80%;
}


